<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
<h1>Task List</h1>
<form method="post" action="/new">
    <button type="submit">Add New Task</button>
</form>

<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Due Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.description}"></td>
        <td th:text="${task.category}"></td>
        <td th:text="${task.priority}"></td>
        <td th:text="${task.dueDate}"></td>
    </tr>
    </tbody>
</table>
</body>

</html>
