<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
<h1>Task List</h1>
<table>
    <thead>
    <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Date</th>
        <th>Priority</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="task : ${tasks}">
        <tr>
            <td th:text="${task.getCategory()}"></td>
            <td th:text="${task.getDescription()}"></td>
            <td th:text="${task.getDueDate()}"></td>
            <td th:text="${task.getPriority()}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
<a href="/new">Add new task</a>
</body>
</html>
