<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Add Task</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
<h1>Add New Task</h1>
<form method="post" th:object="${newTask}" th:action="@{/tasks}">
  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required th:field="*{description}" />
  </div>
  <div>
    <label for="category">Category:</label>
    <select id="category" name="category" required th:field="*{category}">
      <option value="">Select Category</option>
      <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}"></option>
    </select>
  </div>
  <div>
    <label for="priority">Priority:</label>
    <select id="priority" name="priority" required th:field="*{priority}">
      <option value="">Select Priority</option>
      <option value="1">1 (Highest)</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5 (Lowest)</option>
    </select>
  </div>
  <div>
    <label for="dueDate">Due Date:</label>
    <input type="date" id="dueDate" name="dueDate" required th:field="*{dueDate}" />
  </div>
  <div>
    <input type="submit" value="Add Task" />
  </div>
</form>
</body>

</html>
