<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista ToDo</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" />
</head>
<body>
<nav>
    <a href="#" class="active">Strona główna</a>
    <a href="#">Blog</a>
    <a href="#">O mnie</a>
</nav>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <h1 class="text-center">Lista ToDo</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <a href="/add" class="btn btn-primary">Dodaj nowe zadanie</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Opis</th>
                    <th>Kategoria</th>
                    <th>Priorytet</th>
                    <th>Termin</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.category}"></td>
                    <td th:text="${task.priority}"></td>
                    <td th:text="${task.dueDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
