<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book of the day</title>
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="nav">
  <a href="/">Home</a>
  <a href="/books">Books</a>
  <a href="/search">Search for books</a>
</div>
<br>
<h1>Book of the day:</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Category</th>
    <th>Pages</th>
    <th>For kids</th>
  </tr>
  <tbody>
  <tr>
    <td th:text="${book.title}"></td>
    <td th:text="${book.author}"></td>
    <td th:text="${book.category}"></td>
    <td th:text="${book.pages}"></td>
    <td th:text="${book.forKids}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
